@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@223,272&display=swap');


body {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200%;
    padding-top: 10px;
    margin: 0;
    background-color: rgb(255, 5, 0, 0.55);
    color: #f0f0f0;
    z-index: 0;
    position: relative;
    font-family: "Kumbh Sans", sans-serif;
}

#background-img {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1; 
}
header{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 50px;
}
#logo-side{
    width: 162px;
    height: 64px;
}
#logo-side-footer{
    align-self: flex-start;
}
#logo-main{
    width: 455px;
    height: 162;
}
#comfirm-Search {
    margin-left: 2px;
    height: 73px;
    width: 73px;
    background-color: #FF5350;
    border: none;
    border-radius:4px;
}
#comfirm-Search img{
    max-width: 38px;
    max-height: 40px;
    color: #f0f0f0;
}
input{
    width:1007px;
    height:73px;
    border: none;
    border-radius: 4px;
    margin-bottom: 20px;
}


#pokemon-container{
    column-gap: 75px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    width: 900px;
    font-size: smaller;
    margin-left: -150px;
}
.square-cards{
    display: flex;
    background-color: rgb(3, 204, 137);
    width: 344px;
    height: 196px;
    margin: 15px 15px 15px -20px ;
    font-size: xx-small;
    border-radius: 14px;
    font-weight: 1000;
    
}
.square-cards #description-poke{
    display: flex;
    flex-direction: column;
    margin:  20px -50px 10px -90px;

}
.square-cards span p{
    width: 168px;
    height: 64px;

}
.square-cards img{
    width: 192px;
    height: 61px;
    align-self: center;
    justify-self: flex-start;
    margin-left: 90px;

}
.elements{
    display: grid;
    grid-template-columns: 50px 50px;
    column-gap: 5px;
    margin: 10px 0px 0px 20px;
}
.elements span{
    background-color: #BFC66B;
    height: 21px;
    width: 50px;
    border-radius: 24px;
    text-align: center;
    line-height: 20px;
}